#header {
	background: linear-gradient(to bottom, hsla(0,0%,100%,1) 0%, hsla(0,0%,80%,1) 100%);
	border: none;
	box-shadow: 0 2px 4px hsla(0, 0%, 20%, 0.75);
}

#motto {text-shadow: 0 2px 2px #333; font-size: 300%; color: white; margin: 0.5em 0; text-align: center;}

.details {text-align: center;}
/*#header a { color: black; }
#header a:hover { color: hsl(192, 100%, 54%);}*/

section { padding: 50px 0 50px 0; border-bottom: 1px solid silver;}

.nav li a i { margin-right: 0.75em;}

#services { background: hsla(195, 100%, 27%, 1) url('board-bg.jpg') no-repeat 50% 0%; color: white; }
#services h4 { text-align: center;}

#technology { background: hsl(0,0%,95%); }
#technology .row { margin: 1.5em 0;}

.-sticky {
	background:hsla(50, 60%, 85%, 0.95);
	color: black;
	padding: 1em;
	box-shadow: 2px 4px 4px rgba(50, 50, 50, 0.75);
}

/*i.huge {font-size: 1000%; padding: 0.2em; color: #999; width: auto !important;}
i.huge:hover { color: hsla(192,100%,32%,1);}*/

.container > h2 {
	margin-bottom: 2em;
	display      : table;
	margin       : 1em auto;
}

/*.container > h2:after {
	content   : "";
	display   : block;
	height    : 0.1em;
	margin    : 0.5em -2em;
	background: linear-gradient(to right, hsla(212,67%,36%,0) 0%,hsla(206,99%,40%,1) 50%,hsla(206,70%,70%,0) 100%);
}*/

.container h4 { font-size: 200%; }


@media all and (min-width: 768px) {
	#motto {
		font-size: 400%;
	}
}

@media all and (min-width: 992px) {
	#motto {
		font-size: 500%;
	}
}
/*
768
992
1200*/