#header {
	background: linear-gradient(to bottom, hsla(0,0%,100%,1) 0%, hsla(0,0%,80%,1) 50px, hsla(0,0%,95%,1) 51px, hsla(0,0%,95%,1) 100%);
	box-shadow: 0 2px 4px hsla(0, 0%, 20%, 0.75);
	border: none;
}

#header .navbar-nav > .active > a {
	background-image: none;
}

#header .container { padding: 0;}

#motto {
	text-shadow: 0 2px 2px #333;
	font-size: 200%;
	color: white;
	margin-top: 50px;
	text-align: center;
}

abbr[title] { border: none;}

.details { color: hsl(200, 50%, 80%); font-size: 80%;}

section { padding: 30px 0 ; border-bottom: 1px solid silver;}

#header .nav li a i { margin-right: 0.75em;}
#header .navbar-toggle { background: hsl(0, 0%, 95%); border-color: hsl(0, 0%, 75%);}

#summary { color: hsl(0, 0%, 95%); margin-top: 2em; }

#services { background: hsla(195, 100%, 27%, 1) url('img/noise.png'); color: white; }
#services h3 { text-align: center;}
#services .icon { margin: 1em; height: 100px; width: auto;}

#technology { background: hsl(0,0%,90%); }
#technology .icon { max-width: 100px; max-height: 100px; float: left; margin-top: 1em; }
#technology .description { margin-left: 100px; padding: 0 1em;}
#technology .item { margin: 1em 0;}

#services .sticky ul { padding-left: 1em; }
#services .sticky li { color: hsl(0, 0%, 95%); }

#services .sticky {
	background: hsla(0, 100%, 100%, 0.1);
	box-shadow: 0px 1px 4px 2px hsla(0, 0%, 20%, 0.1);
	border-radius: 1em;
	padding: 0.5em 1em;
}

#services .sticky [data-toggle="collapse"] { cursor: pointer;}

#services .sticky [data-toggle="collapse"]:hover { color: hsl(0, 0%, 75%); }
.container > h2 {
	margin-bottom: 1em;
	text-align: center;
}

.container h4 { font-size: 200%; }

#portfolio {
	background: linear-gradient(to bottom, hsla(0,0%,100%,1) 0%, hsla(0,0%,95%,1) 60%, hsla(0,0%,85%,1) 60%,  hsla(0,0%,100%,1) 80%, hsla(0,0%,100%,1) 100%);
}

#portfolio-carousel .carousel-control.right,
#portfolio-carousel .carousel-control.left {
	background: none;
}

#portfolio-carousel .carousel-indicators li {
	background: white;
	border: 1px solid silver;
}

#portfolio-carousel .carousel-indicators li.active {
	background: silver;
	border: none;
}

#portfolio-carousel .glyphicon-chevron-left,
#portfolio-carousel .glyphicon-chevron-right {
	background: hsl(0, 0%, 100%);
	padding: 1em;
	border: 2px solid silver;
	border-radius: 50%;
	opacity: 0.7;
	width: auto;
}

#portfolio-carousel .carousel-control { color: black; }

#portfolio-carousel .item {padding: 40px 0 60px 0;}
#portfolio-carousel .item img { margin: 0 auto; cursor: pointer;}
#contact-info {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal; background: hsl(0, 0%, 20%) url(img/stripes.png);
 	padding: 2em 0;
}

#portfolio-carousel .carousel-caption { color: hsl(0, 0%, 30%); font-size:large;}

#contact-info .static-gmap,
#contact-info .well {
	border: 1px solid hsl(0, 0%, 50%); border-radius: 4px;
	max-width: 480px;
	margin-left:auto; margin-right:auto;
	box-shadow: 0px 1px 3px 2px hsla(0, 0%, 0%, 0.2) inset
}

@media all and (min-width: 768px) {
	#motto {
		font-size: 300%;
	}
}

@media all and (min-width: 992px) {
	#motto {
		font-size: 500%;
	}
}

/*
phone   <= 768
tablet  >= 992
desktop >= 1200
*/
